<%= form_for :v1, url: v1_path do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :text %><br>
		<%= f.text_field :text %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>